<div class="container">
<h1 class="text-center p-4"><%= @dog.name %>'s Profile</h1>

<div class="container">
<img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*", width="300px", class="rounded d-block" >
<div class="d-inline-flex p-2"><%= @dog.name %></div>
<div class="d-flex flex-column mb-3">
 <div class="p-2"><%= @dog.age %></div>
  <div class="p-2"><%= @dog.breed %></div>
  <div class="p-2"><%= @dog.size.capitalize %></div>
  <div class="p-2">$<%= @dog.price %></div>
</div>
</div>

<div class="container">
<div class="form border" >
 <%= render 'bookings/form', booking: @booking %>
 </div>
</div>

 <%= link_to '< Dogs', dogs_path, class: 'btn-light opacity-60 text-decoration-none' %>
</div>
